@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@section Styles {
    <link rel="stylesheet" href="~/css/errors.css" />
}

<div class="custom-404-wrapper">
    <div class="error-container">
        <div class="error-code">500</div>
        <div class="error-message">Something Went Wrong</div>
        <div class="error-description">
            An unexpected error occurred while processing your request.<br />
            @if (Model.ShowRequestId)
            {
                <strong>Request ID:</strong>
                <code>@Model.RequestId</code>

                <br />
            }
            Our team has been notified. Please try again later.
        </div>
        <a asp-controller="Home" asp-action="Index" class="btn-home">Return to Homepage</a>
    </div>
</div>
